.social {
    display: flex;
    align-items: center;
    gap: 24px;


    a {
        height: 50px;
        width: 50px;
        border: 1px solid white;
        border-radius: 100%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    a:hover {
        transition: 0.5s;
        transition-property: box-shadow;
    }

    #instagram:hover {
        background: rgb(255, 0, 157);
        box-shadow: 0 0 25px rgb(255, 0, 157);
        box-shadow: 0 0 5px rgb(255, 0, 157),
            0 0 25px rgb(255, 0, 157),
            0 0 50px rgb(255, 0, 157),
            0 0 100px rgb(255, 0, 157);
    }

    #linkedin:hover {
        background: rgb(41, 95, 243);
        box-shadow: 0 0 25px rgb(41, 95, 243);
        box-shadow: 0 0 5px rgb(41, 95, 243),
            0 0 25px rgb(41, 95, 243),
            0 0 50px rgb(41, 95, 243),
            0 0 100px rgb(41, 95, 243);
    }

    #github:hover {
        background: rgb(0, 0, 0);
        box-shadow: 0 0 25px rgb(0, 0, 0);
        box-shadow: 0 0 5px rgb(0, 0, 0),
            0 0 25px rgb(0, 0, 0),
            0 0 50px rgb(0, 0, 0),
            0 0 100px rgb(0, 0, 0);
    }

    #whatsapp:hover {
        background: rgb(18, 247, 10);
        box-shadow: 0 0 25px rgb(18, 247, 10);
        box-shadow: 0 0 5px rgb(18, 247, 10),
            0 0 25px rgb(18, 247, 10),
            0 0 50px rgb(18, 247, 10),
            0 0 100px rgb(18, 247, 10);
    }

}